.today-view-container {
  width: 100%;
  background: #ffffff;
  border: 1px solid #EAECF0;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.today-view-container .today-date-header {
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  color: var(--calendar-accent);
  border-bottom: 1px solid #EAECF0;
}


.today-view-container .today-grid {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
}
.today-view-container .todays-date 
{
  font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 0.9375rem;
color: var(--calendar-accent);
} 
.today-view-container .todays-date .date {
  font-family: Roboto;
  font-weight: 800;
  font-size: 25px;
}

.today-view-container .time-row {
  display: grid;
  grid-template-columns: 80px 1fr;
  min-height: 70px;
  border-bottom: 1px solid #F2F4F7;
}

.today-view-container .time-label {
  padding: 10px;
  font-size: 12px;
  color: #667085;
  text-align: right;
  border-right: 1px solid #F2F4F7; 
  font-family: "roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: #333333;
}

.today-view-container .time-slot {
  background: #ffffff;
}
